fastapi==0.135.1
uvicorn==0.41.0
mangum==0.17.0

pydantic==2.12.5
pydantic-settings==2.13.1

motor==3.7.1
pymongo==4.16.0

python-dotenv==1.2.2
python-multipart==0.0.22

boto3==1.42.65

httpx==0.28.1
PyYAML==6.0.3
dnspython==2.8.0